/*---Scoreboard Content Styling---*/

.OverheadButtons
{
    padding-top: 15px;

    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.OverheadButtons button
{
    font-size: 15px;
}

.TitleSection
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.TeamTitles
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.ScoreElements
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.ScoreElements p
{
    font-size: 25px;
}

.ScoreAdjustmentButtons
{
    text-align: center;
}

.ResetScoreValueSection
{
    padding-top: 15px;

    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.ResetScoreValueSection button
{
    font-size: 20px;
}

/*---Scoreboard Content Styling End---*/


/*---Editor Content Styling---*/

.EditorSection
{
    position: fixed;
    z-index: 99;

    box-shadow: 0px -2px 5px 5px rgba(0, 0, 0, 0.9);
    background-color: white;

    overflow: hidden;
    width: 100%;
    bottom: 0px;
    height: 150px;
}

/*---Editor Content Styling End---*/
