/* 
Creator: James Daniel Semilla
Date: November 9, 2017
File type: CSS
Desc: Handles the styling of all the elements regarding the scoreboard and the overhead
      buttons. Basically makes the thing look really pretty :)
*/



/*---Scoreboard Content Styling---*/

/*-Overhead Button Styling-*/
.OverheadButtons
{
    padding-top: 15px;
    padding-bottom: 20px;

    text-align: center;
    font-family: 'Open Sans', sans-serif;

    border-bottom: 1px solid black;
}

.OverheadButtons button
{
    border-radius: 2px;
    border-color: black;

    font-size: 15px;

    background-color: white;
    color: black;

    transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
}

.OverheadButtons button:hover
{
    background-color: #424242;
    color: white;
}
/*-Overhead Button Styling End-*/

.TitleSection
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.TitleSection h1
{
    text-align: center;
}

.ScoreboardContent
{
    height: 92vh;
}

.TeamTitles
{
    padding-top: 50px;
    padding-bottom: 50px;

    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.TeamTitles .Team1Elements
{
    
}

.TeamTitles .Team2Elements
{
    
}

.ScoreElements
{
    font-family: 'Oswald', sans-serif;
}

.ScoreElements p
{
    font-size: 220px;
    text-align: center;
}

.ScoreAdjustmentButtons
{
    text-align: center;
}

.ScoreAdjustmentButtons button
{
    width: 7%;

    border-radius: 2px;
    border-color: black;

    font-size: 22px;

    background-color: white;
    color: black;

    transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
}

.ScoreAdjustmentButtons button:hover
{
    background-color: #424242;
    color: white;
}

.ScoreAdjustmentButtons .ScoreIncreaseButton
{
    margin-right: 15px;
}

/* .ResetScoreValueSection
{
    padding-top: 15px;

    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.ResetScoreValueSection button
{
    font-size: 20px;
} */

/*---Scoreboard Content Styling End---*/
