.TitleSection
{
    text-align: center;
}

.TeamTitles
{
    text-align: center;
}

.ScoreElements
{
    text-align: center;
}

.ScoreAdjustmentButtons
{
    text-align: center;
}

.ResetScoreValueSection
{
    text-align: center;
}
